<a href="https://colab.research.google.com/github/naoki-yoshi/Task/blob/master/task15_%E4%BF%A1%E7%94%A8%E6%83%85%E5%A0%B1%E3%81%AE%E5%AD%A6%E7%BF%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#【問題1】コンペティション内容の確認

1 何を学習し、何を予測するのか  
電話会社や取引情報などのさまざまな代替データを学習させ、クライアントの返済能力を予測します。　　

2 どのようなファイルを作りKaggleに提出するか  
  SK_ID_CURR テストセットのそれぞれについて、TARGET変数の確率を予測したファイルを提出する　　

3 提出されたものはどういった指標値で評価されるのか　　

提出物は 、予測された確率と観察されたターゲットの間のROC曲線の下の領域で評価されます

#### ▼ROC曲線とは？  
ROC曲線(Receiver Operatorating Characteristic curve)は，受信者動作特性曲線とも呼ばれており，二値分類タスクの評価指標です。  
from sklearn import metrics  #使うライブラリ  
metrics_auc(,)#aucを使って評価する

#【問題2】学習と検証

In [ ]:
#必要なライブラリを読み込む
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [ ]:
#各データを読み込む
application_train = pd.read_csv("C:/Users/naoki/Downloads/home-credit-default-risk/application_train.csv")
HomeCredit_columns_description= pd.read_csv("C:/Users/naoki/Downloads/home-credit-default-risk/HomeCredit_columns_description.csv",encoding="cp1258")
POS_CASH_balance= pd.read_csv("C:/Users/naoki/Downloads/home-credit-default-risk/POS_CASH_balance.csv")
bureau= pd.read_csv("C:/Users/naoki/Downloads/home-credit-default-risk/bureau.csv")
bureau_balance= pd.read_csv("C:/Users/naoki/Downloads/home-credit-default-risk/bureau_balance.csv")
credit_card_balance= pd.read_csv("C:/Users/naoki/Downloads/home-credit-default-risk/credit_card_balance.csv")
installments_payments= pd.read_csv("C:/Users/naoki/Downloads/home-credit-default-risk/installments_payments.csv")
previous_application= pd.read_csv("C:/Users/naoki/Downloads/home-credit-default-risk/previous_application.csv")

In [ ]:
HomeCredit_columns_description.head()

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN

In [ ]:
application_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

ダミー変数化を行う

In [ ]:
application_train_dummies = pd.get_dummies(application_train)
application_train_dummies.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,0,0,0,0,0,0,1,0,1,0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,0,1,0,0,0,0,0,0,1,0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [ ]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [ ]:
#bureau_balanceを集約する
bureau_balance_sum = bureau_balance.groupby("SK_ID_BUREAU").sum()

In [ ]:
#
bureau_merge = pd.merge(bureau,bureau_balance_sum, on="SK_ID_BUREAU",how="left" )

In [ ]:
#各データのSK_ID_CURRを集約する
POS_CASH_balance_sum = POS_CASH_balance.groupby("SK_ID_CURR").sum()
credit_card_balance_sum =credit_card_balance.groupby("SK_ID_CURR").sum()
installments_payments_sum =installments_payments.groupby("SK_ID_CURR").sum()
previous_application_sum =previous_application.groupby("SK_ID_CURR").sum()
bureau_merge_sum = bureau_merge.groupby("SK_ID_CURR").sum()

In [ ]:
# インデックスをSK_ID_CURRにする
application_train_dummies = application_train_dummies.set_index('SK_ID_CURR')

In [ ]:
# 不要なカラムを削除する
bureau_merge_sum = bureau_merge_sum.drop('SK_ID_BUREAU', axis=1)
POS_CASH_balance_sum = POS_CASH_balance_sum.drop('SK_ID_PREV', axis=1)
credit_card_balance_sum = credit_card_balance_sum.drop('SK_ID_PREV', axis=1)
previous_application_sum = previous_application_sum.drop('SK_ID_PREV', axis=1)
installments_payments_sum = installments_payments_sum.drop('SK_ID_PREV', axis=1)

In [ ]:
# 結合後どこのデータかわかりやすいように接頭語付与
bureau_merge_sum.columns = ["BUREAU_" + column for column in bureau_merge_sum.columns]
POS_CASH_balance_sum.columns = ["POS_" + column for column in POS_CASH_balance_sum.columns]
credit_card_balance_sum.columns = ["CREDIT_" + column for column in credit_card_balance_sum.columns]
previous_application_sum.columns = ["APPLICATION_" + column for column in previous_application_sum.columns]
installments_payments_sum.columns = ["INSTALLMENTS_" + column for column in installments_payments_sum.columns]

####application_train_dummiesにbureau_balance以外を結合する

In [ ]:
data = pd.concat([application_train_dummies,
    bureau_merge_sum,
    POS_CASH_balance_sum,
    credit_card_balance_sum,
    previous_application_sum,
    installments_payments_sum
],axis=1)
data = data.sort_index(axis=1)

In [ ]:
data.head()

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,...,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100002,24700.5,406597.5,351000.0,202500.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.9722,0.9722,0.9722,0.6192,0.6243,0.6341
100003,35698.5,1293502.5,1129500.0,270000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.9851,0.9851,0.9851,0.7960,0.7987,0.8040
100004,6750.0,135000.0,135000.0,67500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
100005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

結合が正確にできたか、任意のデータを抽出して確認する

In [ ]:
data.loc[100002,"BUREAU_DAYS_CREDIT"]

-6992.0

In [ ]:
data.loc[130000,"POS_CNT_INSTALMENT"]

112.0

元のデータから抽出する

In [ ]:
bureau[bureau["SK_ID_CURR"]==100002]["DAYS_CREDIT"].sum()

-6992

In [ ]:
POS_CASH_balance[POS_CASH_balance["SK_ID_CURR"]==130000]["CNT_INSTALMENT"].sum()

112.0

↑同じ数値が抽出できた

### 各種統計量の確認によるデータの傾向・欠損値有無・外れ値（異常値）有無の確認

In [ ]:
data.describe()

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,...,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE
count,307499.000000,3.075110e+05,3.072330e+05,3.075110e+05,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,157504.000000,157504.000000,157504.000000,103023.000000,103023.000000,103023.000000
mean,27108.573909,5.990260e+05,5.383962e+05,1.687979e+05,0.007000,0.006402,0.267395,0.265474,0.034362,1.899974,...,0.052619,0.164518,0.175282,0.168885,0.977735,0.977752,0.977065,0.752471,0.755746,0.759637
std,14493.737315,4.024908e+05,3.694465e+05,2.371231e+05,0.110757,0.083849,0.916002,0.794056,0.204685,1.869295,...,0.223273,0.370745,0.380208,0.374651,0.059223,0.059897,0.064575,0.113280,0.112066,0.110111
min,1615.500000,4.500000e+04,4.050000e+04,2.565000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,16524.000000,2.700000e+05,2.385000e+05,1.125000e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.976700,0.976700,0.976700,0.687200,0.691400,0.699400
50%,24903.000000,5.135310e+05,4.500000e+05,1.471500e+05,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.981600,0.981600,0.981600,0.755200,0.758500,0.764800
75%,34596.000000,8.086500e+05,6.795000e+05,2.025000e+05,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.986600,0.986600,0.986600,0.823200,0.825600,0.823600
max,258025.500000,4.050000e+06,4.050000e+06,1.170000e+08,9.000000,4.000000,27.000000,261.000000,8.000000,25.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

###データの可視化

In [ ]:
# 相関係数求める
corr = data.corr()
# 出力
corr

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,...,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE
AMT_ANNUITY,1.000000,0.770138,0.775109,0.191657,0.002185,0.003861,0.039148,0.010124,0.013881,-0.011320,...,-0.005258,0.009846,1.567869e-03,0.005474,0.013298,0.012940,0.012555,0.034195,0.033713,0.030932
AMT_CREDIT,0.770138,1.000000,0.986968,0.156870,0.004238,-0.003906,0.054451,0.015925,-0.001275,-0.048448,...,-0.002279,0.004319,9.121363e-04,0.007761,0.006249,0.005765,0.004804,0.035875,0.035589,0.033478
AMT_GOODS_PRICE,0.775109,0.986968,1.000000,0.159610,0.004677,-0.003237,0.056422,0.016432,-0.001007,-0.050998,...,0.000080,0.004515,5.224405e-04,0.007929,0.007245,0.006839,0.005799,0.041937,0.041583,0.039410
AMT_INCOME_TOTAL,0.191657,0.156870,0.159610,1.000000,0.002944,0.000709,0.024700,0.004859,0.002387,0.011690,...,-0.000442,0.002050,1.990116e-03,-0.000708,0.005658,0.005639,0.005284,0.042334,0.042004,0.037299
AMT_REQ_CREDIT_BUREAU_DAY,0.002185,0.004238,0.004677,0.002944,1.000000,0.230374,-0.005258,-0.004416,0.217412,-0.003355,...,0.000568,0.006331,2.364872e-03,0.003020,-0.001838,-0.001785,-0.002151,0.002482,0.002944,0.001469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YEARS_BEGINEXPLUATATION_MEDI,0.012940,0.005765,0.006839,0.005639,-0.001785,0.000660,-0.000208,0.001966,0.002837,-0.008543,...,-0.002336,0.000004,1.458035e-03,-0.000441,0.993825,1.000000,0.963539,0.426564,0.427103,0.422164
YEARS_BEGINEXPLUATATION_MODE,0.012555,0.004804,0.005799,0.005284,-0.002151,0.000461,-0.000402,0.002113,0.002856,-0.008162,...,-0.001716,0.000074,1.622441e-03,-0.000259,0.971893,0.963539,1.000000,0.289057,0.289037,0.291207
YEARS_BUILD_AVG,0.034195,0.035875,0.041937,0.042334,0.002482,0.001762,-0.002554,-0.007246,-0.004234,-0.025874,...,-0.006701,0.002643,2.288289e-07,-0.002973,0.483564,0.426564,0.289057,1.000000,0.998495,0.989444
YEARS_BUILD_MEDI,0.033713,0.035589,0.041583,0.042004,0.002944,0.001553,-0.002669,-0.007449,-0.004170,-0.025908,...,-0.006540,0.002423,1.857169e-04,-0.003191,0.482951,0.427103,0.289037,0.998495,1.000000,0.989463
YEARS_BUILD_MODE,0.030932,0.033478,0.039410,0.037299,0.001469,0.001304,-0.002829,-0.006996,-0.004390,-0.025018,...,-0.006303,0.001939,-3.253624e-04,-0.002996,0.477991,0.422164,0.291207,0.989444,0.989463,1.000000

平均化による欠損値の保管

In [ ]:
# 中央値による欠損値補完
data_median = data.fillna(data.median())

訓練データと検証データに分轄

In [ ]:
# 説明変数のカラム取得
columns = list(data_median.columns)
columns.remove("TARGET")#dataからTARGETを抜き出す
columns
# 分割
X_train, X_test, y_train, y_test = train_test_split(data_median.loc[:,columns], data_median["TARGET"], test_size=0.3,  random_state=0)

## 標準化する

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

### 訓練データを使った学習

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X_train, y_train)

RandomForestClassifier()

In [ ]:
# 予測値の算出
prediction = clf.predict(X_train)
prediction

array([0., 0., 0., ..., 0., 0., 0.])

In [ ]:
# 混同行列計算
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_train, prediction)
tn, fp, fn, tp = cm.flatten()

print("True Negative：",tn)
print("False Positive：",fp)
print("False Negative：",fn)
print("True Positive：",tp)

True Negative： 231928
False Positive： 0
False Negative： 8
True Positive： 17330

###テストデータを用いた評価

In [ ]:
# 予測値の算出
prediction = clf.predict(X_test)
# 混同行列計算
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, prediction)
tn, fp, fn, tp = cm.flatten()

print("True Negative：",tn)
print("False Positive：",fp)
print("False Negative：",fn)
print("True Positive：",tp)

True Negative： 99341
False Positive： 1
False Negative： 7480
True Positive： 7

##【問題3】テストデータに対する推定

In [ ]:
# 読み込み
application_test = pd.read_csv('C:/Users/naoki/Downloads/home-credit-default-risk/application_test.csv')

In [ ]:
# ダミー変数化
application_test_dummies = pd.get_dummies(application_test)
# インデックス名変更
application_test_dummies = application_test_dummies.set_index('SK_ID_CURR')

In [ ]:
# ダミー変数化時のカラム欠損修正
application_test_dummies["CODE_GENDER_XNA"]=0
application_test_dummies["NAME_FAMILY_STATUS_Unknown"]=0
application_test_dummies["NAME_INCOME_TYPE_Maternity leave"]=0

In [ ]:
# 結合
submission_data = application_test_dummies.join([
    bureau_merge_sum,
    POS_CASH_balance_sum,
    credit_card_balance_sum,
    previous_application_sum,
    installments_payments_sum
])
submission_data

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,APPLICATION_DAYS_LAST_DUE_1ST_VERSION,APPLICATION_DAYS_LAST_DUE,APPLICATION_DAYS_TERMINATION,APPLICATION_NFLAG_INSURED_ON_APPROVAL,INSTALLMENTS_NUM_INSTALMENT_VERSION,INSTALLMENTS_NUM_INSTALMENT_NUMBER,INSTALLMENTS_DAYS_INSTALMENT,INSTALLMENTS_DAYS_ENTRY_PAYMENT,INSTALLMENTS_AMT_INSTALMENT,INSTALLMENTS_AMT_PAYMENT
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,0.0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241.0,-2329.0,-5170.0,-812.0,...,-1499.0,-1619.0,-1612.0,0.0,8.0,19.0,-15314.0,-15365.0,41195.925,41195.925
100005,0.0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064.0,-4469.0,-9118.0,-1623.0,...,-376.0,-466.0,-460.0,0.0,10.0,45.0,-5274.0,-5486.0,56161.845,56161.845
100013,0.0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038.0,-4458.0,-2175.0,-3503.0,...,-1547.0,-2147.0,-2131.0,1.0,43.0,6778.0,-209704.0,-210507.0,1689174.270,1509736.545
100028,2.0,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976.0,-1866.0,-2000.0,-4208.0,...,363664.0,363514.0,363548.0,0.0,52.0,3447.0,-96677.0,-97016.0,562658.895,492310.665
100038,1.0,180000.0,625500.0,32067.0,625500.0,0.010032,-13040.0,-2191.0,-4000.0,-4262.0,...,-457.0,-457.0,-449.0,0.0,12.0,78.0,-7464.0,-7611.0,133204.050,133204.050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456221,0.0,121500.0,412560.0,17473.5,270000.0,0.002042,-19970.0,-5169.0,-9094.0,-3399.0,...,37.0,-593.0,-591.0,1.0,4.0,6.0,-1869.0,-1891.0,273109.365,273109.365
456222,2.0,157500.0,622413.0,31909.5,495000.0,0.035792,-11186.0,-1149.0,-3015.0,-3003.0,...,-4099.0,-4099.0,-4078.0,2.0,73.0,764.0,-72068.0,-72468.0,590289.840,567315.675
456223,1.0,202500.0,315000.0,33205.5,315000.0,0.026392,-15922.0,-3037.0,-2681.0,-1504.0,...,-247.0,364587.0,364615.0,0.0,9.0,24.0,-4438.0,-4691.0,185271.930,185271.930
456224,0.0,225000.0,450000.0,25128.0,450000.0,0.018850,-13968.0,-2731.0,-1461.0,-1364.0,...,-1858.0,363241.0,363245.0,0.0,29.0,245.0,-26614.0,-26824.0,500807.790,500807.790
456250,0.0,135000.0,312768.0,24709.5,270000.0,0.006629,-13962.0,-633.0,-1072.0,-4220.0,...,364032.0,729221.0,729228.0,1.0,27.0,400.0,-17879.0,-18288.0,661903.155,652249.170

In [ ]:
# カラム順ソート
submission_data = submission_data.sort_index(axis=1)

In [ ]:
# 中央値による欠損値補完
submission_data = submission_data.fillna(submission_data.median())
submission_data

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,...,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,20560.5,568800.0,450000.0,135000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.9732,0.9732,0.9732,0.7552,0.7585,0.7583
100005,17370.0,222768.0,180000.0,99000.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7583
100013,69777.0,663264.0,630000.0,202500.0,0.0,0.0,0.0,1.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7583
100028,49018.5,1575000.0,1575000.0,315000.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,1.0,0.9970,0.9970,0.9970,0.9592,0.9597,0.9608
100038,32067.0,625500.0,625500.0,180000.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456221,17473.5,412560.0,270000.0,121500.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7583
456222,31909.5,622413.0,495000.0,157500.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7583
456223,33205.5,315000.0,315000.0,202500.0,0.0,0.0,0.0,3.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.9955,0.9955,0.9955,0.7552,0.7585,0.7583
456224,25128.0,450000.0,450000.0,225000.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.9896,0.9896,0.9896,0.7552,0.7585,0.7583
456250,24709.5,312768.0,270000.0,135000.0,0.0,0.0,0.0,1.0,0.0,4.0,...,0.0,0.0,1.0,0.0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7583

In [ ]:
# 正規化
submission_data_normalized = scaler.transform(submission_data)

In [ ]:
# 予測
prediction = clf.predict_proba(submission_data_normalized)

In [ ]:
# DF化
submission_df = pd.DataFrame(
    {
        "SK_ID_CURR" : application_test["SK_ID_CURR"].values,
        "TARGET" : prediction[:,1]
    }
)

In [ ]:
# csv出力
submission_df.to_csv('./submission.csv', index=False)

##【問題4】特徴量エンジニアリング

5つの特徴量エンジニアリングを行う

In [ ]:
data

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,...,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100002,24700.5,406597.5,351000.0,202500.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.9722,0.9722,0.9722,0.6192,0.6243,0.6341
100003,35698.5,1293502.5,1129500.0,270000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.9851,0.9851,0.9851,0.7960,0.7987,0.8040
100004,6750.0,135000.0,135000.0,67500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
100005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,27558.0,254700.0,225000.0,157500.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.9876,0.9876,0.9782,0.8300,0.8323,0.7125
456252,12001.5,269550.0,225000.0,72000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.9727,0.9727,0.9727,0.6260,0.6310,0.6406
456253,29979.0,677664.0,585000.0,153000.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.9816,0.9816,0.9816,0.7484,0.7518,0.7583
456254,20205.0,370107.0,319500.0,171000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.9771,0.9771,0.9772,NaN,NaN,NaN
456255,49117.5,675000.0,675000.0,157500.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.9881,0.9881,0.9881,NaN,NaN,NaN

###*パターン１：欠損値が50％ある目的変数を削除*

In [ ]:
data_missing50cut = data.dropna(thresh=354654/2, axis=1)
data_missing50cut

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,...,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100002,24700.5,406597.5,351000.0,202500.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
100003,35698.5,1293502.5,1129500.0,270000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
100004,6750.0,135000.0,135000.0,67500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
100005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,27558.0,254700.0,225000.0,157500.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
456252,12001.5,269550.0,225000.0,72000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
456253,29979.0,677664.0,585000.0,153000.0,0.0,1.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
456254,20205.0,370107.0,319500.0,171000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
456255,49117.5,675000.0,675000.0,157500.0,0.0,0.0,2.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [ ]:
# 平均値による欠損値補完
data_missing50_mean = data_missing50cut.fillna(data_missing50cut.median())
data_missing50_mean

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,...,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,24903.0,513531.0,450000.0,147150.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100002,24700.5,406597.5,351000.0,202500.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
100003,35698.5,1293502.5,1129500.0,270000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
100004,6750.0,135000.0,135000.0,67500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
100005,24903.0,513531.0,450000.0,147150.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,27558.0,254700.0,225000.0,157500.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
456252,12001.5,269550.0,225000.0,72000.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
456253,29979.0,677664.0,585000.0,153000.0,0.0,1.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
456254,20205.0,370107.0,319500.0,171000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
456255,49117.5,675000.0,675000.0,157500.0,0.0,0.0,2.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [ ]:
#ファイルを訓練用と検証用に分轄
# 説明変数のカラム取得
columns = list(data_missing50_mean.columns)
columns.remove("TARGET")#data_missing50_meanからTARGETを抜き出す
columns
# 分割
X_train, X_test, y_train, y_test = train_test_split(data_missing50_mean.loc[:,columns], data_missing50_mean["TARGET"], test_size=0.3,  random_state=0)

In [ ]:
#学習　
clf_missing75 = RandomForestClassifier()
clf_missing75.fit(X_train, y_train)
# 予測値の算出
prediction = clf_missing75.predict(X_test)
# 混同行列計算
cm = confusion_matrix(y_test, prediction)
tn, fp, fn, tp = cm.flatten()

print("True Negative：",tn)
print("False Positive：",fp)
print("False Negative：",fn)
print("True Positive：",tp)

True Negative： 99341
False Positive： 1
False Negative： 7481
True Positive： 6

In [ ]:
#ROC-AUCスコアの算出
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_test, prediction))

0.5003956614192819

検証結果  
欠損値が50％以上ある目的変数を削除して学習を行ったが精度の向上はあまりなかった。

### :パターン２：欠損値を平均値で保管する

In [ ]:
#dataの欠損値を平均値で保管する
data_mean = data.fillna(data.mean())
data_mean = data_mean.round()
data_mean

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,...,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,27109.0,599026.0,538396.0,168798.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
100002,24700.0,406598.0,351000.0,202500.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
100003,35698.0,1293502.0,1129500.0,270000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
100004,6750.0,135000.0,135000.0,67500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
100005,27109.0,599026.0,538396.0,168798.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,27558.0,254700.0,225000.0,157500.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
456252,12002.0,269550.0,225000.0,72000.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
456253,29979.0,677664.0,585000.0,153000.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
456254,20205.0,370107.0,319500.0,171000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
456255,49118.0,675000.0,675000.0,157500.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0

比較として中央値で補完したもの↓

In [ ]:
data_median

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,...,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,24903.0,513531.0,450000.0,147150.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7648
100002,24700.5,406597.5,351000.0,202500.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.9722,0.9722,0.9722,0.6192,0.6243,0.6341
100003,35698.5,1293502.5,1129500.0,270000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.9851,0.9851,0.9851,0.7960,0.7987,0.8040
100004,6750.0,135000.0,135000.0,67500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7648
100005,24903.0,513531.0,450000.0,147150.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,27558.0,254700.0,225000.0,157500.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.9876,0.9876,0.9782,0.8300,0.8323,0.7125
456252,12001.5,269550.0,225000.0,72000.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.9727,0.9727,0.9727,0.6260,0.6310,0.6406
456253,29979.0,677664.0,585000.0,153000.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.9816,0.9816,0.9816,0.7484,0.7518,0.7583
456254,20205.0,370107.0,319500.0,171000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.9771,0.9771,0.9772,0.7552,0.7585,0.7648
456255,49117.5,675000.0,675000.0,157500.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.9881,0.9881,0.9881,0.7552,0.7585,0.7648

In [ ]:
#ファイルを訓練用と検証用に分轄
# 説明変数のカラム取得
columns = list(data_mean.columns)
columns.remove("TARGET")#data_meanからTARGETを抜き出す
columns
# 分割
X_train, X_test, y_train, y_test = train_test_split(data_mean.loc[:,columns], data_mean["TARGET"], test_size=0.3,  random_state=0)

In [ ]:
#学習　
clf_mean = RandomForestClassifier()
clf_mean.fit(X_train, y_train)
# 予測値の算出
prediction = clf_mean.predict(X_test)
# 混同行列計算
cm = confusion_matrix(y_test, prediction)
tn, fp, fn, tp = cm.flatten()

print("True Negative：",tn)
print("False Positive：",fp)
print("False Negative：",fn)
print("True Positive：",tp)

True Negative： 99341
False Positive： 1
False Negative： 7485
True Positive： 2

In [ ]:
#ROC-AUCスコアの算出
print(roc_auc_score(y_test, prediction))

0.5001285317278167

検証結果  
欠損値を平均値で補完したものと中央値で補完したものを比較してみると大きな差はなかった。

### :パターン３：欠損値を最頻値で補完する

In [ ]:
data_mode = data.fillna(data.mode().iloc[0])
data_mode

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,...,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,9000.0,450000.0,450000.0,135000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.9871,0.9871,0.9871,0.8232,0.8256,0.8301
100002,24700.5,406597.5,351000.0,202500.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.9722,0.9722,0.9722,0.6192,0.6243,0.6341
100003,35698.5,1293502.5,1129500.0,270000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.9851,0.9851,0.9851,0.7960,0.7987,0.8040
100004,6750.0,135000.0,135000.0,67500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.9871,0.9871,0.9871,0.8232,0.8256,0.8301
100005,9000.0,450000.0,450000.0,135000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.9871,0.9871,0.9871,0.8232,0.8256,0.8301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,27558.0,254700.0,225000.0,157500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.9876,0.9876,0.9782,0.8300,0.8323,0.7125
456252,12001.5,269550.0,225000.0,72000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.9727,0.9727,0.9727,0.6260,0.6310,0.6406
456253,29979.0,677664.0,585000.0,153000.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.9816,0.9816,0.9816,0.7484,0.7518,0.7583
456254,20205.0,370107.0,319500.0,171000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.9771,0.9771,0.9772,0.8232,0.8256,0.8301
456255,49117.5,675000.0,675000.0,157500.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.9881,0.9881,0.9881,0.8232,0.8256,0.8301

In [ ]:
#ファイルを訓練用と検証用に分轄
# 説明変数のカラム取得
columns = list(data_mode.columns)
columns.remove("TARGET")#data_modeからTARGETを抜き出す
columns
# 分割
X_train, X_test, y_train, y_test = train_test_split(data_mode.loc[:,columns], data_mode["TARGET"], test_size=0.3,  random_state=0)

In [ ]:
#学習　
clf_mode = RandomForestClassifier()
clf_mode.fit(X_train, y_train)
# 予測値の算出
prediction = clf_mode.predict(X_test)
# 混同行列計算
cm = confusion_matrix(y_test, prediction)
tn, fp, fn, tp = cm.flatten()

print("True Negative：",tn)
print("False Positive：",fp)
print("False Negative：",fn)
print("True Positive：",tp)

True Negative： 99339
False Positive： 3
False Negative： 7481
True Positive： 6

In [ ]:
#ROC-AUCスコアの算出
print(roc_auc_score(y_test, prediction))

0.5003855951834502

検証結果

### パターン４：TARGET＝１のデータを２倍にする

不均衡データへの対応  
TAGET=0のデータに対してTAGET=1のデータの数が少ないため、TAGET=１のデータを2倍にしたDFを作成する。

In [ ]:
print(len(data[data["TARGET"]==1]),len(data[data["TARGET"]==0]))

data1 = data[data["TARGET"]==1]
data_target2 = pd.concat([data,data1])

print(len(data_target2[data_target2["TARGET"]==1]),len(data_target2[data_target2["TARGET"]==0]))

24825 282686
49650 282686

In [ ]:
data_median = data_target2.fillna(data.median())

In [ ]:
#ファイルを訓練用と検証用に分轄
# 説明変数のカラム取得
columns = list(data_median.columns)
columns.remove("TARGET")#dataからTARGETを抜き出す
columns
# 分割
X_train, X_test, y_train, y_test = train_test_split(data_median.loc[:,columns], data_median["TARGET"], test_size=0.3,  random_state=0)

In [ ]:
#学習　
clf_mode = RandomForestClassifier()
clf_mode.fit(X_train, y_train)
# 予測値の算出
prediction = clf_mode.predict(X_test)
# 混同行列計算
cm = confusion_matrix(y_test, prediction)
tn, fp, fn, tp = cm.flatten()

print("True Negative：",tn)
print("False Positive：",fp)
print("False Negative：",fn)
print("True Positive：",tp)

True Negative： 99316
False Positive： 38
False Negative： 4490
True Positive： 10432

In [ ]:
#ROC-AUCスコアの算出
print(roc_auc_score(y_test, prediction))

0.8493597631451084

検証結果  
TARGT=1のデータを2倍にすることでROCスコアが向上したことから、不均衡データを改善することで学習の精度が向上されることがわかる。

### パターン５：TARGET＝１のデータを3倍にする

パターン４との比較としてさらにTARGET＝１のデータを増やしてみる。

In [ ]:
data_target3 = pd.concat([data_target2,data1])
print(len(data_target3[data_target3["TARGET"]==1]),len(data_target3[data_target3["TARGET"]==0]))

74475 282686

In [ ]:
data_median = data_target3.fillna(data.median())

In [ ]:
#ファイルを訓練用と検証用に分轄
# 説明変数のカラム取得
columns = list(data_median.columns)
columns.remove("TARGET")#dataからTARGETを抜き出す
columns
# 分割
X_train, X_test, y_train, y_test = train_test_split(data_median.loc[:,columns], data_median["TARGET"], test_size=0.3,  random_state=0)

In [ ]:
#学習　
clf_target3 = RandomForestClassifier()
clf_target3.fit(X_train, y_train)
# 予測値の算出
prediction = clf_target3.predict(X_test)
# 混同行列計算
cm = confusion_matrix(y_test, prediction)
tn, fp, fn, tp = cm.flatten()

print("True Negative：",tn)
print("False Positive：",fp)
print("False Negative：",fn)
print("True Positive：",tp)

True Negative： 99348
False Positive： 101
False Negative： 2006
True Positive： 20269

In [ ]:
#ROC-AUCスコアの算出
print(roc_auc_score(y_test, prediction))

0.9544641436718113

検証結果  
TARGET＝１のデータをさらに増やすことで、パターン４のものよりもスコアが向上した。